.about_box {
    text-align: left;
    margin-bottom: 1rem;
    h4 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.833;
        word-wrap: break-word;
    }

}