.s_content {
    background-color: #F6F7F8;
    width: 100%;
    color: #000000;
    padding: 3rem;

    .content_inner {
        column-count: 3;  /* Default: 1 column for mobile */
        column-gap: 2rem;
    }
}