.copyright {
    padding: 3rem;
    font-size: 0.9rem;
    line-height: 2.4rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

    .separator {
        margin: 0 10px
    }

    span {
        .me {
            color: #000;
            margin-left: 10px;
        }
    }
}